
@media screen and (min-width: 0px) and (max-width: 768px) {
#menu_inicial
{
	/*background:#666;*/
}	
#menu_inicial img
{margin-left:-128px;}
/*links*/
#link_menu
{
	z-index:3;
	position:absolute;
	top:82%;
	left:50%;
	width:626px;
	margin-left:-313px;
	height:350px;
	margin-top:-390px;
	/*background:#FFF;*/
}
/*#events
{
	width:25%;
	height:89%;
	background:#666;
	float:left;
	z-index:3;
}
#d_magazine
{
	width:46%;
	height:64%;
	margin-top:20.1%;
	background:#93C;
	z-index:3;
	float:left;
}
#reality
{
	width:29%;
	height:40%;
	margin-top:33.5%;
	background:#036;
	z-index:3;
	float:left;
}*/

}
@media screen and (min-width: 769px) and (max-width: 1024px) {
#menu_inicial
{
	background:#666;
}	
#menu_inicial img
{
	margin-top:-128px;
}

/*links*/
#link_menu
{
	z-index:3;
	position:absolute;
	top:82%;
	left:50%;
	width:620px;
	margin-left:-310px;
	height:350px;
	margin-top:-390px;
}

}

a{
	text-decoration:none;
}

.contenido
{
	width:100%;
	height:auto;
	position:fixed;
	background:#000;
}
#events
{
	width:25%;
	height:89%;
	background:#666;
	float:left;
	z-index:3;
}
#d_magazine
{
	width:46%;
	height:64%;
	margin-top:20.1%;
	background:#93C;
	z-index:3;
	float:left;
}
#reality
{
	width:29%;
	height:40%;
	margin-top:33.5%;
	background:#036;
	z-index:3;
	float:left;
}



#panelSecciones{
	width:10%;
	height:auto;
	text-align:center;
	margin:0;
	padding:0;
	overflow-y: auto;
	overflow-x: hidden;
	position:absolute;
	z-index:10;
	margin-top:-300px;
	background-color:transparent;
	box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

 ul
{list-style:none;
background:#333;
margin:0;
top:0;
padding:0;
}
#rubrica
{
	height:30px;
	width:100%;
	color:#FFF;
}
#separador
{
	height:1px;
	background:#FFF;
	width:100%	;
}
