body{
	font-family:  Helvetica;
	height:100%;
	background:#000;
	/*width:70%;*/
	
	}
@media screen and (min-width: 0px) and (max-width: 768px) {
#menu_inicial
{
	/*background:#666;*/
}	
#menu_inicial img
{margin-left:-128px;}
#cont_seccion, #cont_seccion img
{
	width:768px;
	height:980px;
}

/*links*/
#link_menu
{
	z-index:3;
	position:absolute;
	top:82%;
	left:50%;
	width:626px;
	margin-left:-313px;
	height:350px;
	margin-top:-375px;
	/*background:#FFF;*/
}
#cab_menu, #cab_menu_int
{
	
	width:120px; 
	height:44px;	
	display:inline-block;
	padding-top:0px;
	text-align:center;
	vertical-align:central;
	position:absolute;
	z-index:10000;
	background:#000;	
}

#logo
{
	width:648px;
	height:44px;
	display:inline-block;
	margin-left:10%;
	text-align:center;
	vertical-align:central;
	position:absolute;
	padding-top:1xp;
}
/*vertical*/
#fecha_int
{	
	width:72px;
	height:44px;
	display:inline-block;
	padding-top:0px;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	z-index:3;
	background:#000;
	margin-left:120px;
}
#fecha_int img
{
	margin-top:9px;
}
#logo_int
{
	width:576px;
	height:44px;
	display:inline-block;
	/*text-align:center;
	vertical-align:central;*/
	position:absolute;
	padding-top:1xp;
	background:#000;
	margin-left:192px;
}
#logo_int img
{
	margin-left:126.5px;
}

}
@media screen and (min-width: 769px) and (max-width: 1024px) {

#menu_inicial
{
	background:#000;
}	
#menu_inicial img, #cont_seccion img
{margin-top:-128px;}
#cont_seccion img
{}

/*links*/
#link_menu
{
	z-index:3;
	position:absolute;
	top:82%;
	left:50%;
	width:620px;
	margin-left:-310px;
	height:350px;
	margin-top:-290px;
}
#cab_menu, #cab_menu_int
{
	
	width:120px; 
	height:44px;	
	display:inline-block;
	padding-top:0px;
	text-align:center;
	vertical-align:central;
	position:absolute;
	z-index:3;			
}

#logo
{
	width:904px;
	height:44px;
	display:inline-block;
	margin-left:10%;
	text-align:center;
	vertical-align:central;
	position:absolute;
	padding-top:1xp;
	
}

#fecha_int
{	
	width:72px;
	height:44px;
	display:inline-block;
	padding-top:0px;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	z-index:3;
	background:#000;
	margin-left:120px;
}
#fecha_int img
{
	margin-top:9px;
}
#logo_int
{
	width:832px;
	height:44px;
	display:inline-block;
	/*text-align:center;
	vertical-align:central;*/
	position:absolute;
	padding-top:1xp;
	background:#000;
	margin-left:192px;
}
#logo_int img
{
	margin-left:254.5px;
}
}

a{
	text-decoration:none;
}

#cebecera_prin
{
	height:44px;
	background:#000;
	margin:0px;
	border:0px;
}

.contenido
{
	width:100%;
	height:auto;
	position:fixed;
	background:#000;
}
#events
{
	width:25%;
	height:89%;
	float:left;
	z-index:3;
}
#d_magazine
{
	width:46%;
	height:64%;
	margin-top:20.1%;
	z-index:3;
	float:left;
}
#reality
{
	width:29%;
	height:40%;
	margin-top:33.5%;
	z-index:3;
	float:left;
}



#panelSecciones{
	width:120px;
	height:auto;
	text-align:center;
	margin:0;
	padding:0;
	overflow-y: auto;
	overflow-x: hidden;
	position:absolute;
	z-index:20;
	display:none;
	background-color: rgba(0,0, 0, 0.5);
	/*background-image: url(../img/patrontrans.png);
	background-color:transparent;*/
	/*margin-top:-300px;
	background-color:transparent;
	box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;*/
}

 ul
{list-style:none;
/*background:#333;*/
margin:0;
top:0;
padding:0;
}
#rubrica
{
	height:45px;
	width:100%;
	color:#FFF;
}
#separador
{
	height:1px;
	background:#FFF;
	width:100%	;
}
