/*body {
	margin: 0;
	padding: 10px;
	font: 14px Helvetica, Arial, sans-serif;
	color: #666;
	max-width: 800px;
	margin: 0 auto;
}
*/
.box {/*cajas rojas*/
	width: 241px;
	height: 159px;
	line-height: 96px;
	text-align: center;
	color: #FFF;
	/*margin-right:8px;*/
	margin-right:4px;
	margin-left:4px;
	display: block;
	text-decoration: none;
	overflow: hidden;
	position: relative;
}

.box img {
	width: 241x;
	height:159px;
	vertical-align: middle;
	overflow:hidden;
	display:none;
	
}

/*.box1 {background: red;}
.box2 {background: blue;}
.box3 {background: orange;}*/

.ibox,
.cbox,
.fbox {
	width: 210px;
	height: 159px;
	/*line-height: 210px;*/
	text-align: center;
	color: #FFF;
	margin: 2px;
	display: block;
	text-decoration: none;
	overflow: hidden;
	position: relative;
	/*background:#666;*/
}

.centered .ibox,
.centered .cbox{
	margin: 2px auto;
	padding: 0 2px;
}


.ibox img {
	width: 210px;
	vertical-align: middle;
}

.cbox img,
.fbox img{
	width: 100%;
	vertical-align: middle;
}

.fbox {
	/*width: 600px;
	height: 600px;
	line-height: 600px;*/
/*	background:#666;*/
}

span.delta {
	position: absolute;
	top: 0;
	width: 1px;
	text-indent: -9999px;
	overflow: hidden;
	background: magenta;
}

.ibox span.delta {
	/*height: 210px;*/
}

.active .box {
	/*outline: 1px dashed green;*/
}

.gallery-holder {
	margin: 0 auto;
/*	outline: 1px dashed #666;*/
	/*margin: 0 auto 10px auto;
	padding: 10px;
	background:#6F6;*/
}

.gallery {
	width: 96.48%;
	/*width: 800px;*/
	overflow: hidden;
	height:159px;
	margin-top:39px;
	padding-left:1.36%;
	padding-right:1.76%;
}

.gallery div.holder {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.gallery div.list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 9999px;
	overflow: hidden;
	height:159px;
}

.gallery div.item {
	float: left;
}

/*.moving {
	background: yellow;
}*/

/*.debug-item {
	padding: 1px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: -1px;
	color: #999;
	font-size: 11px;
}*/

.focus .ibox {
	/*outline: 1px dashed green;*/
}
.focus-old .ibox {
/*	outline: 1px dashed red;*/
}
