/*
@media (max-width: 320px) 
{
	#content_slide
	{
		margin: 0 auto;
		width:320px;
		height:480px;
	}
	#evento, #img_evento 
	{
		width:320px;
		height:480px;
		overflow:hidden;
	}
}
*/
@media screen and (min-width: 320px) and (max-width: 480px) {
#page
{
	width:100%;
	height:100%;
	background:#000;
}
#menu_inicial img
{
	margin-left:-82px;
}
	


/*links*/
#link_menu
{
	z-index:3;
	position:absolute;
	/*top:82%;
	left:50%;*/
	width:320px;
	
	height:160px;
	margin-top:210px;
	margin-left:0px;
	
}
#events
{
	width:32%;
	height:89%;
	float:left;
	z-index:3;
}
#d_magazine
{
	width:39%;
	height:64%;
	margin-top:20.1%;
	z-index:3;
	float:left;
}
#reality
{
	width:29%;
	height:40%;
	margin-top:33.5%;
	z-index:3;
	float:left;
}
/*menu*/

#panelSecciones{
	width:74px;
	height:303px;
	text-align:center;
	margin-top:44px;
	padding:0;
	overflow-y: auto;
	overflow-x: hidden;
	position:absolute;
	z-index:20;
	display:none;
	background-color: rgba(0,0, 0, 0.8);
	
}
#rubrica
{
	height:28px;
	width:100%;
	color:#878787;
	font-size:12px;
}

#cab_menu/*, #cab_menu_int*/
{
	
	width:44px; 
	height:44px;	
	display:inline-block;
	padding-top:0px;
	text-align:center;
	vertical-align:central;
	position:absolute;
	z-index:10000;
	background:#000;	
}

#logo
{
	width:276px;
	height:44px;
	display:inline-block;
	margin-left:10%;
	text-align:center;
	vertical-align:central;
	position:absolute;
	padding-top:1xp;
}
/*contenedo general*/
#contenido_general
	{
		width:320px;
		height:436px;
		overflow:hidden;
	}
	
	
	

	#content_slide
	{
		margin: 0px auto;
		padding:0px;
		width:100%;
		height:100%;
	}
	/*ing slide*/
	 #contenido_slide, .cont_img
	 {margin: 0 auto;
		width:100%;
		height:100%;
		background:#decada;
		overflow:hidden;
	}
	.cont_img img
	{
		width:100%;
		height:auto;
	}
	.slide_sec
	{
		width:1024px; 
		height:258px; background:url(../img/patrones/slide.png) repeat;
		 margin-top:-292px;
		 z-index:9999; 
		 position:relative;
		 float:left;
	}
	.box_sumario
	{
		width:100%; 
		height:210px;
		background-color: rgba(0,0, 0, 0.7);
		margin-top:-245px; 
		z-index:9999; 
		position:relative;
	}

	.titulo_evento
{ 
	width:48%;
	height:150px;
	float:left;
	font-family:millerdisplaylight;
	color:#FFF;
	text-transform:uppercase;
	font-size:28px;
	padding-left:12px;
}
.sumario_evento
{
	width:48%;
	height:150px;
	float:left;
	font-size:22px;
	color:#FFF;
	padding-left:12px;
}

.edicion_revista
{
	width:100%;
	height:44px;
	float:left;
	font-size:12px;
	color:#FFF;
	font-family:  Helvetica;
}

#secciones
	 {margin: 0 auto;
		width:100%;
		height:100%;
		background:#000;
		overflow:hidden
	}
	#img_secciones , .slider_seccion img, #img_secciones img
{
	width:100%;
	height:auto;
}



.r_nom_persona
	{
		width:1024px; 
		height:258px; 
		background-color: rgba(0,0, 0, 0.7);
		 margin-top:0px;
		 z-index:9999; 
		 position:relative;
		 float:left;
		 display:none;
	}

.rostros img
{
	width:100%;
	height:100%;
}
.sum_rostros
	{
		width:100%; 
		height:210px;
		background-color: rgba(0,0, 0, 0.7);
		margin-top:-300px; 
		z-index:9999; 
		position:relative;
	}

.descripcion_rostros
{
	width:321px;
	z-index:9999;
	height:724px;
	position:absolute;
}

.descripcion_rostros .r_flecha
{
	width:16px;
	height:724px;
	text-align:center;
	vertical-align:middle;
	position:relative;
	float:left;
}
.descripcion_rostros .r_flecha img
{vertical-align:central;
margin-top:354px;}

.foto_rostros
{
	width:1024px;
	height:724px;
	position:absolute;
	overflow:hidden;
}

.r_descripcion {
		width:305px;
	z-index:9999;
	height:724px;
	background-color: rgba(0,0, 0, 0.7);
	position:relative;
	float:left;
    }
    .r_texto { 
        overflow-x: hidden;
        overflow-y: scroll;
		 -webkit-overflow-scrolling: touch;
        height: 500px;
		padding-top:5px;
		padding-left:10px;
    } 
	

.descripcion_seccion
{
	width:325px;
	z-index:9999;
	height:724px;
	position:absolute;
}

.descripcion_seccion .r_flecha
{
	width:16px;
	height:724px;
	text-align:center;
	vertical-align:middle;
	position:relative;
	float:left;
}
.descripcion_seccion .r_flecha img
{vertical-align:central;
margin-top:354px;}

.foto_seccion
{
	width:1024px;
	height:724px;
	position:absolute;
	overflow:hidden;
}

.s_descripcion {
		width:305px;
	z-index:9999;
	height:724px;
	background-color:#fff;
	position:relative;
	float:left;
    }
    .s_texto { 
        overflow-x: hidden;
        overflow-y: scroll;
		 -webkit-overflow-scrolling: touch;
        height: 250px;
		padding-top:5px;
		padding-left:10px;
    } 
	
#flecha_mas
{
	z-index:9999; position:absolute; margin-left:87%; margin-top:93%;		
}

/*
#fecha_int
{	
	width:72px;
	height:44px;
	display:inline-block;
	padding-top:0px;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	z-index:3;
	background:#000;
	margin-left:120px;
}
#fecha_int img
{
	margin-top:9px;
}
#logo_int
{
	width:576px;
	height:44px;
	display:inline-block;
	
	position:absolute;
	padding-top:1xp;
	background:#000;
	margin-left:192px;
}
#logo_int img
{
	margin-left:126.5px;
}*/

}
/*@media screen and (min-width: 769px) and (max-width: 1024px) {

#menu_inicial
{
	background:#000;
}	
#menu_inicial img, #cont_seccion img
{margin-top:-190px;}
#cont_seccion img
{}

//links
#link_menu
{
	z-index:3;
	position:absolute;
	top:82%;
	left:50%;
	width:620px;
	margin-left:-310px;
	height:350px;
	margin-top:-290px;

}
#cab_menu, #cab_menu_int
{
	
	width:120px; 
	height:44px;	
	display:inline-block;
	padding-top:0px;
	text-align:center;
	vertical-align:central;
	position:absolute;
	z-index:3;			
}

#logo
{
	width:904px;
	height:44px;
	display:inline-block;
	margin-left:10%;
	text-align:center;
	vertical-align:central;
	position:absolute;
	padding-top:1xp;
	
}

#fecha_int
{	
	width:72px;
	height:44px;
	display:inline-block;
	padding-top:0px;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	z-index:3;
	background:#000;
	margin-left:120px;
}
#fecha_int img
{
	margin-top:9px;
}
#logo_int
{
	width:832px;
	height:44px;
	display:inline-block;
	position:absolute;
	padding-top:1xp;
	background:#000;
	margin-left:192px;
}
#logo_int img
{
	margin-left:254.5px;
}
}

*/

